name: Sync Submodules and Check Correctness

on:
  repository_dispatch:
    types: [update_submodule]
  workflow_dispatch:  # Allow manual triggering of the workflow

jobs:
  update-and-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive  # Checkout submodules
          token: ${{ secrets.PAT }}  # Use the PAT for authentication

      - name: Update Submodules to Main Branch
        run: |
          git submodule foreach 'git fetch origin main && git checkout main && git pull origin main'

      - name: Initialize Rustup
        run: |
          rustup toolchain install nightly --component rustfmt clippy --profile minimal --force
          rustup override set nightly

      - name: Run build
        run: cargo build --verbose

      - name: Run rustfmt
        run: cargo fmt --all -- --check

      - name: Run clippy
        run: cargo clippy --all

      - name: Build Release
        run: cargo build --release --verbose

      - name: Run debug tests
        run: cargo test --verbose

      - name: Run release tests
        run: cargo test --verbose --release

      - name: Commit and Push Changes
        if: success()
        id: auto-commit
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: ${{ github.event.client_payload.commit_message }}
          commit_user_name: "github-actions[bot]"
          commit_user_email: "github-actions[bot]@users.noreply.github.com"
          branch: main
          token: ${{ secrets.PAT }}  # Use the PAT for authentication
